*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

.container {
	width: 100%;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	padding: 8px 13px;
	font-family: 'bebas', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	border: 2px solid #fff;

	&__request {
		border: none;
	}

	&__request-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: bottom;
	}

	&__request-text {
		margin-left: 8px;
		vertical-align: bottom;
	}

	&__request--black {
		color: #fff;
		background-color: #000;
	}

	&__request--white {
		color: #000;
		background-color: #fff;
	}
}

.heading {
	margin-bottom: 25px;
	font-family: 'bebas', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;

	&--black {
		color: #000;
	}

	&--white {
		color: #fff;
	}
}

.subheading {
	margin-bottom: 20px;
	font-family: 'open_sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;

	&--grey {
		color: #4f4f4f;
	}

	&--white {
		color: #fff;
	}
}
