*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

body.blocked {
	overflow: hidden;
}

.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: scroll;
}

::placeholder {
	color: #fff;
	opacity: 1;
}

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 100%;
	padding: 0 20px;

	@media (min-width: 768px) {
		padding: 0 30px;
	}
}

.btn {
	display: inline-block;
	padding: 8px 13px;
	font-family: 'bebas', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	border: 2px solid #fff;

	@media (min-width: 768px) {
		padding: 12px 15px;
		font-size: 22px;
	}

	@media (min-width: 1200px) {
		min-width: 180px;
		font-size: 26px;
		padding: 12px 24px;
	}
}

.btn__request {
	border: none;
	transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

.btn__request-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: bottom;

	@media (min-width: 768px) {
		width: 25px;
		height: 23px;
	}

	@media (min-width: 1200px) {
		width: 26px;
		height: 26px;
	}
}

.btn__request-text {
	vertical-align: bottom;
}

.btn__request--black {
	color: #fff;
	background-color: #000;
	border: 2px solid #000;

	&:hover {
		background-color: transparent;
		color: #000;
	}
}

.btn__request--white {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;

	&:hover {
		color: #fff;
		background-color: transparent;
	}
}

.heading {
	margin-bottom: 25px;
	font-family: 'bebas', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;

	&--black {
		color: #000;
	}

	&--white {
		color: #fff;
	}

	@media (min-width: 768px) {
		margin-bottom: 35px;
		font-size: 45px;
		line-height: 45px;
	}
}

.subheading {
	margin-bottom: 20px;
	font-family: 'open_sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;

	&--grey {
		color: #4f4f4f;
	}

	&--white {
		color: #fff;
	}

	@media (min-width: 768px) {
		width: 610px;
		margin: 0 auto 35px;
		font-size: 16px;
		line-height: 24px;
	}

	@media (min-width: 1200px) {
		width: 620px;
		margin: 0 auto 90px;
	}
}
