.branding {
	padding-bottom: 25px;
	text-align: center;

	@media screen and (min-width: 768px) {
		padding-bottom: 35px;
	}
}

.branding .container {
	@media screen and (min-width: 768px) {
		padding: 0;
	}
}

.branding__inner {
	position: relative;
	padding: 45px 0 95px;

	@media screen and (min-width: 768px) {
		padding: 75px 0 115px;
	}

	@media screen and (min-width: 1200px) {
		padding: 75px 0 200px;
	}
}

.branding__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-image: url('../img/block-branding/mashinnaya_vishivka.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 140%;
	filter: brightness(0.3);
}

.branding__list {
	padding: 0 20px;
	margin-top: -95px;
	margin-bottom: 20px;
	list-style: none;

	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 768px;
		padding: 0;
		margin: -100px auto 20px;
	}

	@media screen and (min-width: 1200px) {
		width: 1140px;
		margin: -250px auto 20px;
	}
}

.branding__item {
	height: 190px;

	@media screen and (min-width: 768px) {
		width: 374px;
		height: 300px;
		margin-bottom: 20px;
	}

	@media screen and (min-width: 1200px) {
		width: 560px;
		height: 422px;
		margin-bottom: 30px;
	}
}

.branding__item + .branding__item {
	margin-top: 10px;

	@media screen and (min-width: 768px) {
		margin-top: 0;
	}
}

.branding__item-image-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.branding__item-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.05);
	z-index: -1;

	@media screen and (min-width: 768px) {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

.branding__item-caption {
	position: absolute;
	bottom: 20px;
	left: 8px;
	font-family: 'bebas', sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #fff;

	@media screen and (min-width: 768px) {
		left: 30px;
		bottom: 35px;
		font-size: 31px;
	}

	@media screen and (min-width: 1200px) {
		left: 35px;
		bottom: 30px;
		font-size: 45px;
	}
}


