.cases {
	padding: 45px 0 30px;
	text-align: center;
}

.cases__list {
	line-height: 0;
	list-style: none;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		width: 768px;
		margin: 0 auto;
	}

	@media screen and (min-width: 1200px) {
		width: 100%;
	}
}

.cases__item {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		width: 50%;
	}

	@media screen and (min-width: 1200px) {
		width: 25%;
	}
}

.cases-item__hover-block {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	padding: 12px 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
}

.cases-item__hover-block-text {
	display: inline-block;
	padding: 0 20px;
	font-family: 'bebas', sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 36px;
	color: #fff;
	border: 2px solid #fff;
	transition: all 0.1s ease-in;

	&:hover {
		background-color: #fff;
		color: #000;
	}
}

.cases__item:nth-child(n + 10) {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
	}
}

.cases__item:nth-child(n + 13) {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.cases__item-link {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 5px 10px;

	@media screen and (min-width: 768px) {
		padding: 0;
	}

	@media screen and (min-width: 1200px) {
		&:hover .cases-item__hover-block {
			opacity: 1;
			z-index: 2;
		}
	}
}

.cases__item-title {
	position: absolute;
	right: 30px;
	bottom: 25px;
	font-family: 'bebas', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	z-index: 2;

	@media screen and (min-width: 768px) {
		font-size: 21px;
	}

	@media screen and (min-width: 1700px) {
		font-size: 31px;
	}
}

.cases__item-title::before {
	content: '';
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -10px;
	right: -30px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.cases .btn {
	margin-top: 30px;
}

.cases__bg-image {
	width: 100%;
	padding-top: 91.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cases__item-link[data-name='kashin'] .cases__bg-image {
	background-image: url('../img/block-cases/kashin_cover.jpg');
}

.cases__item-link[data-name='mozee'] .cases__bg-image {
	background-image: url('../img/block-cases/mozee_cover.jpg');
}

.cases__item-link[data-name='alisher'] .cases__bg-image {
	background-image: url('../img/block-cases/alisher_cover.jpg');
}

.cases__item-link[data-name='lizzka'] .cases__bg-image {
	background-image: url('../img/block-cases/lizzka_cover.jpg');
}

.cases__item-link[data-name='sqwozbab'] .cases__bg-image {
	background-image: url('../img/block-cases/sqwozbab_cover.jpg');
}

.cases__item-link[data-name='kfc'] .cases__bg-image {
	background-image: url('../img/block-cases/kfc_cover.jpg');
}

.cases__item-link[data-name='mukka'] .cases__bg-image {
	background-image: url('../img/block-cases/mukka_cover.jpg');
}

.cases__item-link[data-name='booker'] .cases__bg-image {
	background-image: url('../img/block-cases/booker_cover.jpg');
}

.cases__item-link[data-name='monetochka'] .cases__bg-image {
	background-image: url('../img/block-cases/monetochka_cover.jpg');
}

.cases__item-link[data-name='anastasiz'] .cases__bg-image {
	background-image: url('../img/block-cases/anastasiz_cover.jpg');
}

.cases__item-link[data-name='asya'] .cases__bg-image {
	background-image: url('../img/block-cases/asya_cover.jpg');
}

.cases__item-link[data-name='karamba'] .cases__bg-image {
	background-image: url('../img/block-cases/karamba_cover.jpg');
}

.cases__item-link[data-name='mamcupy'] .cases__bg-image {
	background-image: url('../img/block-cases/mamcupy_cover.jpg');
}

.cases__item-link[data-name='sover'] .cases__bg-image {
	background-image: url('../img/block-cases/sover_cover.jpg');
}

.cases__item-link[data-name='sveta'] .cases__bg-image {
	background-image: url('../img/block-cases/sveta_cover.jpg');
}

.cases__item-link[data-name='sviter'] .cases__bg-image {
	background-image: url('../img/block-cases/sviter_cover.jpg');
}
