.footer {
	padding: 20px 0;
	background-color: #000;
}

.footer__top-links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

.footer__logo {
	display: block;
	width: 65px;

	@media screen and (min-width: 768px) {
		order: 2;
		width: 110px;
	}
}

.footer__store-link {
	margin-left: auto;
	text-decoration: none;
	transition: color 0.1s ease-in, background-color 0.1s ease-in;
	text-align: center;

	&:hover {
		background-color: #fff;
		color: #000;
	}

	@media screen and (min-width: 768px) {
		order: 1;
		width: 198px;
		margin-left: 0;
		margin-right: auto;
	}

	@media screen and (min-width: 1200px) {
		width: 235px;
	}
}

.footer__socials {
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	margin-top: 30px;

	@media screen and (min-width: 768px) {
		order: 3;
		width: auto;
		margin-top: 0;
		margin-left: auto;
	}

	@media screen and (min-width: 1200px) {
		padding-left: 37px;
	}
}

.footer__socials-item + .footer__socials-item {
	margin-left: 22px;
}

.footer__socials-link {
	display: block;
}

.footer__socials-icon {
	width: 33px;
	height: 33px;
	fill: #fff;
}

.footer__icon-twitter:hover {
	fill: #1da1f2;
}

.footer__icon-instagram:hover {
	fill: #833ab4;
}

.footer__icon-vk:hover {
	fill: #45668e;
}

.footer__icon-telegram:hover {
	fill: #0088cc;
}

.copyright {
	font-family: 'open_sans', sans-serif;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	text-align: center;

	@media screen and (min-width: 768px) {
		font-size: 14px;
	}
}
