.header {
	@media screen and (min-width: 768px) {
		background-image: url('../img/main/banner_1200.jpg');
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: 62% center;
	}

	@media screen and (min-width: 1200px) {
		background-size: cover;
	}
}

.header__wrapper {
	position: relative;
	width: 100%;

	@media screen and (min-width: 1200px) {
		width: 1200px;
		margin: 0 auto;
	}
}

.header__right-block {
	padding: 8px 0 90px;
	background-color: #000;

	@media screen and (min-width: 768px) {
		width: 50%;
		padding: 25px 0 180px;
	}

	@media screen and (min-width: 1200px) {
		padding: 30px 0 220px;
	}
}

.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;

	@media screen and (min-width: 768px) {
		margin-bottom: 85px;
	}

	@media screen and (min-width: 1200px) {
		align-items: flex-start;
	}
}

.header__logo {
	display: block;
	width: 55px;
	height: 55px;
	font-size: 0;
	line-height: 0;
	background-image: url('../img/main/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	@media screen and (min-width: 768px) {
		width: 80px;
		height: 80px;
	}

	@media screen and (min-width: 1200px) {
		width: 110px;
		height: 110px;
	}
}

.header__menu-btn {
	width: 20px;
	height: 16px;
	font-size: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.header__menu-icon {
	width: 20px;
	height: 16px;
	fill: #fff;
}

.header__title {
	margin-bottom: 40px;
}

.header__heading {
	margin: 0 0 20px;
	font-family: 'bebas', sans-serif;
	font-size: 55px;
	line-height: 1;
	font-weight: 700;
	color: #fff;

	@media screen and (min-width: 768px) {
		font-size: 65px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 85px;
	}
}

.header__text-about {
	padding-right: 20px;
	font-family: 'open_sans', sans-serif;
	font-size: 14px;
	color: #fff;

	@media screen and (min-width: 768px) {
		font-size: 16px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}
}

.header__btns {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 280px;

	@media screen and (min-width: 768px) {
		width: auto;
	}

	@media screen and (min-width: 1200px) {
		justify-content: flex-start;
	}
}

.header__link-store {
	text-decoration: none;
	text-align: center;
	transition: color 0.1s ease-in, background-color 0.1s ease-in;

	&:hover {
		background-color: #fff;
		color: #000;
	}

	@media screen and (min-width: 1200px) {
		margin-left: 27px;
	}
}

.header__menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	padding: 80px 0;
	background-color: #fff;
	text-align: center;

	&--opened {
		display: block;
	}

	@media screen and (min-width: 768px) {
		position: static;
		display: block;
		padding: 0;
		background-color: transparent;
	}
}

.header__menu-btn-close {
	position: absolute;
	top: 27px;
	right: 20px;
	width: 18px;
	height: 18px;
	border: none;
	background-color: transparent;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.header__menu-btn-close-icon {
	width: 18px;
	height: 18px;
}

.header__socials {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		margin-bottom: 0;
	}
}

.header__socials-item + .header__socials-item {
	margin-left: 20px;
}

.header__socials-link {
	display: block;
}

.header__socials-icon {
	width: 30px;
	height: 30px;
	fill: #000;

	@media screen and (min-width: 768px) {
		fill: #fff;
	}
}

.header__icon-twitter:hover {
	fill: #1da1f2;
}

.header__icon-instagram:hover {
	fill: #833ab4;
}

.header__icon-vk:hover {
	fill: #45668e;
}

.header__icon-telegram:hover {
	fill: #0088cc;
}

.header__tel-btn-wrapper {
	display: flex;
	align-items: center;

	@media screen and (min-width: 768px) {
		position: absolute;
		top: 25px;
		right: 30px;
	}

	@media screen and (min-width: 1200px) {
		top: 26px;
	}
}

.header__menu-tel {
	font-family: 'bebas', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #000;
	text-decoration: none;

	@media screen and (min-width: 768px) {
		font-weight: 600;
		line-height: 74px;
		color: #fff;
	}

	@media screen and (min-width: 1200px) {
		font-size: 30px;
		line-height: 30px;
	}
}

.header__menu .btn {
	display: none;
	padding: 7px 22px;
	font-size: 22px;
	line-height: 1;

	@media screen and (min-width: 1200px) {
		display: inline-block;
		margin-left: 50px;
	}
}
