.header {
	padding: 8px 0 90px;
	background-color: #000;
}

.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.header__logo {
	display: block;
	width: 55px;
	height: 55px;
	font-size: 0;
	line-height: 0;
	background-image: url('../img/main/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.header__menu-btn {
	width: 20px;
	height: 16px;
	font-size: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header__menu-icon {
	width: 20px;
	height: 16px;
	fill: #fff;
}

.header__title {
	margin-bottom: 40px;
}

.header__heading {
	margin: 0 0 20px;
	font-family: 'bebas', sans-serif;
	font-size: 55px;
	line-height: 1;
	font-weight: 700;
	color: #fff;
}

.header__text-about {
	padding-right: 20px;
	font-family: 'open_sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

.header__btns {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header__link-store {
	text-decoration: none;
}

.header__menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	padding: 80px 0;
	background-color: #fff;
	text-align: center;

	&--opened {
		display: block;
	}
}

.header__menu-btn-close {
	position: absolute;
	top: 27px;
	right: 20px;
	width: 18px;
	height: 18px;
	border: none;
	background-color: transparent;
}

.header__menu-btn-close-icon {
	width: 18px;
	height: 18px;
}

.header__socials {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 30px;
}

.header__socials-item + .header__socials-item {
	margin-left: 20px;
}

.header__socials-link {
	display: block;
}

.header__socials-icon {
	width: 30px;
	height: 30px;
	fill: #000;
}

.header__menu-tel {
	font-family: 'bebas', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
