.form-section {
	padding: 40px 0 50px;
	background-image: url('../img/main/form_bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.form-section .heading {
	margin-bottom: 35px;
}

.form .btn {
	display: block;
	margin: 0 auto 15px;
	padding: 8px 40px;
}

.form__input,
.form__select,
.form__textarea {
	width: 100%;
	min-height: 38px;
	padding: 10px;
	margin-bottom: 15px;
	font-family: 'open_sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	color: #fff;
	border: 2px solid #fff;
	background-color: transparent;
}

.form__error-field {
	border-color: #f00;
}

.form__input-wrapper {
	position: relative;
	padding: 0;
}

.form__input-wrapper::before {
	content: '+7';
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
}

.form__input-telephone {
	width: 100%;
	padding: 10px 10px 10px 30px;
	border: none;
	background-color: transparent;
	font-family: 'open_sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	color: #fff;
}

.form__select {
	position: relative;
	cursor: pointer;
}

.form__select-arrow {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%) rotate(-90deg);
	width: 15px;
	height: 15px;
	transition: transform 0.2s ease-in;
	fill: #fff;
	z-index: 3;
}

.form__select--opened .form__select-arrow {
	transform: translateY(-50%) rotate(90deg);
}

.form__select-options {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	display: none;
	color: #fff;
	background-color: #000;
	list-style: none;
	z-index: 2;
}

.form__select-option {
	padding: 15px;
	min-height: 38px;
	cursor: pointer;

	&:hover {
		background-color: #337;
	}
}

.form__select-option-placeholder {
	padding: 10px;
	border: 2px solid #fff;
}

.form__select-options--visible {
	display: block;
}

.form__textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 120px;
	max-height: 120px;
}

.form__checkbox-label {
	position: relative;
	display: block;
	padding-left: 35px;
	margin-bottom: 35px;
	font-family: 'open_sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #fff;

	&:hover {
		cursor: pointer;
	}
}

.form__checkbox-label::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
}

.form__checkbox:checked + .form__checkbox-label::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 4px;
	display: block;
	width: 18px;
	height: 18px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 229.153 229.153'%3E%3Cpath d='M92.356 223.549c7.41 7.5 23.914 5.014 25.691-6.779 11.056-73.217 66.378-134.985 108.243-193.189C237.898 7.452 211.207-7.87 199.75 8.067 161.493 61.249 113.274 117.21 94.41 181.744c-21.557-22.031-43.201-43.853-67.379-63.212-15.312-12.265-37.215 9.343-21.738 21.737 31.501 25.232 58.724 54.655 87.063 83.28z' fill='%23f2b94d'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 2;
}

.form__checkbox-label--error {
	color: #f00;
}

.form__checkbox-label--error::after {
	border-color: #f00;
}

.form__error {
	display: block;
	font-family: 'open_sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #f00;
	text-align: center;
	visibility: hidden;

	&--visible {
		visibility: visible;
	}
}


