.popup-products,
.popup-cases {
	position: relative;
	display: none;
	padding: 50px 0 0;
}

.popup-products__btn-close,
.popup-cases__btn-close {
	position: absolute;
	top: 13px;
	right: 13px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	z-index: 10;

	@media screen and (min-width: 768px) {
		right: 58px;
	}

	@media screen and (min-width: 1200px) {
		right: 30px;
	}
}

.popup-cases__btn-close {
	position: fixed;
	z-index: 4;
}

.popup-products__btn-close-icon,
.popup-cases__btn-close-icon {
	width: 24px;
	height: 24px;
	fill: #fff;
}

.popup-products__label,
.popup-cases__label {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: 'bebas', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	z-index: 2;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:not([href]):hover {
		cursor: default;
		text-decoration: none;
	}

	@media screen and (min-width: 768px) {
		font-size: 21px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 31px;
	}
}

.popup-products__list-wrapper,
.popup-cases__list-wrapper{
	position: relative;

	@media screen and (min-width: 1200px) {
		width: 1020px;
		margin: 0 auto;
	}
}

.popup-products__list,
.popup-cases__list {
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-size: 0;
}

.popup-cases__list {
	display: flex;
}

.popup-products__list li + li {
	padding-top: 5px;
	background-color: #333;
}

.popup-cases__list-item + .popup-cases__list-item {
	padding-top: 5px;
	background-color: #333;
}
