.realizeyourmerch {
	margin: 25px 0 35px;
}

.realizeyourmerch .heading {
	padding: 0 20px;
}

.realizeyourmerch .container {
	font-family: 'open_sans', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #4f4f4f;
	text-align: center;
}

.realizeyourmerch__bg-image {
	margin-bottom: 15px;
}

.realizeyourmerch__details,
.realizeyourmerch__details-list {
	margin-bottom: 15px;
	text-align: left;
}

.realizeyourmerch__details:nth-child(3),
.realizeyourmerch .btn__request {
	margin-bottom: 20px;
}

.realizeyourmerch__details-list {
	padding: 0 12px;
}
